.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content, .footer {
  max-width: 1200px;
  margin: auto;
}

.content, main {
  min-height: 100%;
  height: 100%;
  margin-top: 10px;
}

html, body, section {
  height: 100%;
  background-color: white !important;
}

.header {
  margin: auto;
  width: 100%;
  height: 100%;
}

.ant-card-meta-description, .ant-card-meta-title, .ant-card-meta-detail {
  overflow-wrap: break-word !important;
}

.card {
  width: 100%;
  margin-bottom: 10px;
}

.drawer, .details {
  margin: auto;
  display: flex;
  justify-content: center;
}

